@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');

.colorbox {
	overflow:hidden;
	position:relative;
	margin:.5rem 0 1rem;
	transition:box-shadow .25s;
	border-radius:2px;
	color:#fff;
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	padding:20px;
	font-size:14px
}

.colorbox.black {background:#373737}
.colorbox.red {background:#CC3300}
.colorbox.light-blue {background:#E6F2FA}
.colorbox.blue {background:#0074B8}
.colorbox.dark-blue {background:#0F3753}
.colorbox.gray {background:#BFC2C5}
.colorbox.light-gray {background:#EFEFEF}

/** colour cards **/

.colorcard1 {
	height: 204px;
	width: 150px;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0px 3px 6px #CCCDD1;
	margin-right: 50px;
	margin-top: 30px;
}

.colorcard2 {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	width: 150px;
	height: 150px;
}

.color-card-text {
	color: #373737;
	padding-left: 10px;
	padding-top: 7px;
	font-weight: 700;
}
.color-card-text2 {
	color: #55606A;
	font-weight: 300;
}

.shadecard{
	width: 150px;
	padding: 50px 0px 10px 0px;
}

.shadecard p{
	padding-top: 0px;
	margin: 0px;
}

.shade{
	width: 150px;
	padding: 5px 0px;
}

.shade p{
	padding-left: 10px;
	margin: 0px;
}


/** global **/
html {
  height: 100%;
}

body {
	min-height: 100%;
	margin:auto;
	padding:0;
	background: #222;
	font-family: -apple-system,BlinkMacSystemFont, Roboto,"Helvetica Neue",sans-serif;
	font-size: 13px;
	color:#666;
}
* {
	margin:0;
	padding:0;
}


/** element defaults **/
table {
	width:100%;
	text-align:left;
}
th, td {
	padding:5px 10px;
}
th {
	color:#fff;
	border-top:1px solid #222;
	background-color:#2F2F2F;
}
td {
	border-bottom:1px solid #f4f4f4;
}
code, blockquote {
	display:block;
	border-left:5px solid #ddd;
	padding:10px;
	margin-bottom:20px;
}
blockquote p {
	font-style:italic;
	font-family:Georgia, "Times New Roman", Times, serif;
	margin:0;
	height: 1%;
}
p {
	line-height:2.0em;
	margin-bottom:20px;
}
a {
	color: #0074B8;
}
a:hover {
	color:#000;
}
a:focus {
	outline:none;
}
a.button {
    background-color: #1f8ceb;
    border-radius: 5px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    padding: 8px 22px;
    font-size: 0.8em;
    letter-spacing: 0.25px;
    text-decoration: none;
    text-transform: uppercase;
}

a.button-reversed {
    background-color: #333;
}

a.button:hover {
	background-color: #669D48;
}

a.button-reversed:hover {
	background-color: #222;
}
fieldset {
	display:block;
	border:none;
	border-top:1px solid #e0e0e0;
}
fieldset legend {
	font-weight:bold;
	padding-right:10px;
	color:#999;
}
fieldset form {
	padding-top:15px;
}
fieldset p label {
	float:left;
	width:150px;
	font-family: "Source Sans Pro","sans-serif";
}
fieldset form input, fieldset form select, fieldset form textarea {
	padding:5px;
	color:#333333;
	font-size:13px;
	font-family: "Source Sans Pro","sans-serif";
	border:1px solid #ddd;
}
fieldset form input.formbutton {
border:none;
    background-color: #80B763;
    border-radius: 4px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    padding: 8px 22px;
    font-size: 0.8em;
    letter-spacing: 0.25px;
    text-decoration: none;
    text-transform: uppercase;
}
h1 {
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
	color: #373737;
	margin-bottom: 20px;
}
h2 {
	font-size: 19px;
	font-weight: bold;
	line-height: 28px;
	color: #373737;
	margin-bottom: 20px;
}
h3 {
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	color: #373737;
	margin-bottom: 20px;
}
h4 {
	font-size: 13px;
	font-weight: bold;
	line-height: 19px;
	color: #373737;
	margin-bottom: 20px;
}
p{
	font-size: 13px;
	line-height: 19px;
	color: #373737;
}

ul, ol {
	margin:0 0 35px 35px;
}
li {
	padding-bottom:5px;
}

.submenu{
	font-size: 12px;
	line-height: 3px;
}


/** wrapper **/
div#wrapper {
	margin:0px auto;
	padding:0;
}

.width {
	width:auto;
	margin: 0 auto;
}




/** header **/
header {
	padding:30px 17px 30px;
	margin:0 auto;
}
header h1 {
	text-align: right;
}


/** body **/
section#body {
	padding: 0;
	background: #0F3753;
}


/** content+sidebar styles **/
section#content {
	margin-left: 250px;
	padding: 20px;
	background-color: #fff;
}
.column-left {
	float:left;
}
.column-right {
	float:right;
}
aside#sidebar {
	width:250px;
	position: fixed;
}
nav#mainnav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav#mainnav li {
	padding:0;
}
nav#mainnav li.selected-item  {
	border-bottom:none;
}
nav#mainnav li.selected-item a,
nav#mainnav li.selected-item a:hover {
	color:#1f8ceb;
	font-weight:bold;
	background: #fff;
}
nav#mainnav li a:hover {
	background:#1f8ceb;
	color: #fff;
	text-decoration:none;
}
nav#mainnav li a {
	color: #f0f0f0;
	display: block;
	padding: 15px 17px;
	text-align: right;
	font-weight:  bold;
	text-decoration: none;
}

article {
    padding: 10px 10px 30px;
	font-size: .9em;
border-bottom: 1px solid #eee;
 }

article h2 {
    padding-bottom: 0;
		line-height: 1.1em;
   	font-size: 2.5em;
}

article .article-info {
  color: #C0c0c0;
font-size: 0.92em;
padding: 0px 0px 10px;
}

article .article-info a {
	color: #ccc;
}

.measurements-box{
	background-color: #F5F6F8;
	color: #373737;
	width: 600px;
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 20px;
	font-size: 13px;
	line-height: 19px;
}

.code-box{
	background-color: #373737;
	color: #ffffff;
	width: 600px;
	height: 50px;
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 20px;
	font-size: 13px;
	line-height: 19px;
}

.typography{
	background-color: #F5F6F8;
	width: 400px;
	margin-right: 50px;
	margin-top: 40px;
	margin-bottom: 40px;
	padding-left: 50px;
	padding-top: 35px;
	padding-bottom: 25px;
	display: inline-table;
}

.use-cases{
	margin: 20px;
}

.use-cases ul{
	list-style: none;
	color: #373737;
	margin: 0px;
	font-size: 13px;
}

/** footer **/
footer {
	padding:20px 0px;
}

footer p {
	color:#666;
	margin:0;
	font-size:0.8em;
	text-align: center;
}
footer p a {
	color:#666;
	font-weight:bold;
	text-decoration:none;
	border-bottom:1px solid #999;
}
footer p a:hover { color:#333; border-bottom-color: #333; }


/** clear fix **/
.clear:after {
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
	display: inline-block;
}
.clear {
	display: block;
}


/** show/hide details **/
.details{
	display: flex;
	flex-direction: column;
	width: 1000px;
	padding: 5px 0px;
	margin-bottom: 20px;
}

.details a{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
	margin-right: 30px;
	padding: 5px;
	cursor: pointer;
}

.details p{
	color: #0074B8;
	margin-right: 5px;
	margin-bottom: 0px;
	opacity: 0.5;
}

.details i{
	color: #0074B8;
	opacity: 0.5;
}

/** components **/

.button{
	padding: 8.5px 15px;
	border-radius: 4px;
	cursor: pointer;
	margin: 8px;
	user-select: none;
}

.button i{
	margin-right: 8px;
}

.primary-button{
	background-color: #0074B8;
	color: #ffffff;
	font-weight: bold;
}

.primary-button:hover{
	box-shadow: 0px 0px 3px #888888;
	background-color: #005586;
}

.primary-button:active{
	background-color: #005586;
	box-shadow: inset 0px 1px 2px #373737;
}

.primary-button-disabled{
	background-color: #73B3D8;
	color: #ffffff;
	font-weight: bold;
	pointer-events: none
}

.neutral-button{
	background-color: #F5F5F7;
	border-color: #9DA3A4;
	color: #373737;
	border: 1px solid #D7DFE1;
}

.neutral-button:hover{
	box-shadow: 0px 0px 3px #888888;
	background-color: #B3B3B4;
	border-color: #B3B3B4;
}

.neutral-button:active{
	background-color: #B3B3B4;
	border-color: #B3B3B4;
	box-shadow: inset 0px 1px 2px #373737;
}

.neutral-button-disabled{
	background-color: #ffffff;
	color: #D7DFE1;
	border: 1px solid #D7DFE1;
	pointer-events: none
}

.destructive-button{
	background-color: #CC3300;
	color: #ffffff;
}

.destructive-button:hover{
	box-shadow: 0px 0px 3px #888888;
	background-color: #952600;
}

.destructive-button:active{
	background-color: #952600;
	box-shadow: inset 0px 1px 2px #373737;
}

.destructive-button-disabled{
	background-color: #E38F73;
	color: #ffffff;
	pointer-events: none
}

.button-link{
	color: #0074B8;
	font-size: 13px;
	margin: 5px 15px;
	user-select: none;
	cursor: pointer;
}

.button-link-disabled{
	color: #73B3D8;
	font-size: 13px;
	margin: 5px 15px;
	pointer-events: none
}

.button-link:hover{
	color: #0074B8;
	text-decoration: underline;
}

 .button-link-disabled:hover{
	 color: #73B3D8;
	 text-decoration: underline;
 }

.icon-button{
	margin: 15px 5px;
	color: #373737;
	cursor: pointer;
	font-size: 13px;
	user-select: none;
}

.icon-button-disable{
	margin: 15px 5px;
	color: #D7DFE1;
	cursor: pointer;
	font-size: 13px;
	user-select: none;
	pointer-events: none;
}

.button-small{
	padding: 4.5px 15px;
	margin: 8px;
	border-radius: 4px;
	cursor: pointer;
	user-select: none;
}

.button-small:hover{
	box-shadow: 0px 0px 3px #888888;
}

.button-small:active{
	box-shadow: inset 0px 1px 2px #373737;
}

.primary-button-small{
	font-size: 12px;
}

.button-outline{
	border-radius: 5px;
	padding: 7.5px 15px;
	background-color: #ffffff;
	cursor: pointer;
	margin: 8px;
	user-select: none;
}

.button-outline i{
	margin-right: 8px;
}

.button-outline:hover{
	box-shadow: 0px 0px 3px #888888;
}

.primary-button-outline{
	border: 1px solid #0074B8;
	color: #0074B8;
	font-weight: bold;
}

.destructive-button-outline{
	border: 1px solid #CC3300;
	color: #CC3300;
}

.button-outline-small{
	border-radius: 5px;
	padding: 4.5px 15px;
	background-color: #ffffff;
	cursor: pointer;
	margin: 15px 5px;
	user-select: none;
}

.button-outline-small:hover{
	box-shadow: 0px 0px 3px #888888;
}

.primary-action{
	padding: 8.5px 15px;
	border-radius: 5px 0px 0px 5px;
	cursor: pointer;
	margin-right: -2px;
	user-select: none;
}

.primary-action:hover{
	box-shadow: 0px 0px 3px #888888;
}

.primary-action:active{
	box-shadow: inset 0px 1px 2px #373737;
}

.secondary-action{
	padding: 8.5px 5px;
	border-radius: 0px 5px 5px 0px;
	cursor: pointer;
	user-select: none;
}

.secondary-action:hover{
	box-shadow: 0px 0px 3px #888888;
}

.secondary-action:active{
	box-shadow: inset 0px 1px 2px #373737;
}

/*Radio Button*/
.container {
    display: table;
    position: relative;
		font-size: 13px;
		vertical-align: middle;
		padding-left: 35px;
    padding-top: 2px;
		margin-bottom: 8px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #ffffff;
		border: 1px solid #CCCDD1;
    border-radius: 50%;
}

.container input:checked ~ .checkmark {
    background-color: #0074B8;
		border: 1px solid #0074B8;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
 	top: 5px;
	left: 5px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: white;
}

/*Checkbox Button*/
.containerC {
  display: block;
  position: relative;
  padding-left: 35px;
	padding-top: 2px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.containerC input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmarkC {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #ffffff;
	border: 1px solid #CCCDD1;
	border-radius: 4px;
}

.containerC:hover input ~ .checkmarkC {
  background-color: #ffffff;
}

.containerC input:checked ~ .checkmarkC {
  background-color: #0074B8;
	border-color: #0074B8;
}

.checkmarkC:after {
  content: "";
  position: absolute;
  display: none;
}

.containerC input:checked ~ .checkmarkC:after {
  display: block;
}

.containerC .checkmarkC:after {
  left: 5px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/**Switch Button**/
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #CCCDD1;
	border: 1px solid #CCCDD1;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
	background-color: #0074B8;
	border-color: #0074B8;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 50px;
}

.slider.round:before {
  border-radius: 50%;
}

.dslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #D7DFE1;
	border: 1px solid #D7DFE1;
  -webkit-transition: .4s;
  transition: .4s;
}

.dslider:before {
  position: absolute;
  content: "";
  height: 1px;
  width: 1px;
  left: 0px;
  bottom: 0px;
  background-color: #D7DFE1;
  -webkit-transition: .4s;
  transition: .4s;
}

.dslider.round {
  border-radius: 50px;
}

.dslider.round:before {
  border-radius: 50%;
}

.switch-label{
	font-size: 13px;
	margin-right: 10px;
	margin-top: 15px;
	color: #373737;
	text-align: center;
}

.ltooltip {
    position: relative;
    display: inline-block;
}

.ltooltip .tooltiptext {
		visibility: hidden;
		width: 120px;
		background-color: #5C5E6C;
		color: #fff;
		text-align: center;
		border-radius: 4px;
		padding: 15px 10px;
		position: absolute;
		z-index: 1;
		top: -15px;
		right: 110%;
		margin-right: 5px;
}

.ltooltip .tooltiptext::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 100%;
		margin-top: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: transparent transparent transparent #5C5E6C;
}
.ltooltip:hover .tooltiptext {
    visibility: visible;
}

.ttooltip {
    position: relative;
    display: inline-block;
}

.ttooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #5C5E6C;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 15px 10px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
}

.ttooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #5C5E6C transparent transparent transparent;
}

.ttooltip:hover .tooltiptext {
    visibility: visible;
}

.btooltip {
    position: relative;
    display: inline-block;
}

.btooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #5C5E6C;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 15px 10px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 30%;
    margin-left: -70px;
}

.btooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #5C5E6C transparent;
}

.btooltip:hover .tooltiptext {
    visibility: visible;
}

.rtooltip {
    position: relative;
    display: inline-block;
}

.rtooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #5C5E6C;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 15px 10px;
    position: absolute;
    z-index: 1;
    top: -15px;
    left: 110%;
		margin-left: 5px;
}

.rtooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #5C5E6C transparent transparent;
}
.rtooltip:hover .tooltiptext {
    visibility: visible;
}

input[type=text], input[type=number], input[type=date], input[type=time], input[type=password], textarea{
	height: 32px;
	width: 192px;
	border: 1px solid #CCCDD1;
	border-radius: 5px;
	background-color: #ffffff;
	padding-left: 10px;
	font-family: -apple-system,BlinkMacSystemFont, Roboto,"Helvetica Neue",sans-serif;
	font-size:: 13px;
	color: #373737;
}

input:focus, input[type=text]:focus, input[type=time]:focus, input[type=date]:focus, input[type=number]:focus, input[type=password]:focus, textarea:focus{
	border-color: #0074B8;
	outline: none;
}

::placeholder{
	color: #5C5E6C;
	font-size: 12px;
}

.icon-inside-input{
	position: absolute;
	text-align: right;
	z-index: 99;
	left: 175px;
	color: #0074B8;
}

.attachment-container{
	border: 1px solid #75A7C8;
	background-color: #E9F4FB;
	width: 400px;
	height: 80px;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-label{
	color: #373737;
	font-weight: bold;
	font-size: 13px;
}

.required-input{
	color: #CC3300;
	font-size: 12px;
}

.optional-input{
	color: #5C5E6C;
	font-size: 12px;
}

.help-input{
	font-size: 12px;
	margin-left: 5px;
}

.validation-wrong-input{
	font-size: 12px;
	margin-left: 5px;
	color: #CC3300;
}

.badges{
	border-radius: 50px;
	color: #ffffff;
	font-size: 12px;
	padding: 3px 10px;
	margin: 8px;
}

.all-good{
	background-color: #88BF5A;
}

.attention{
	background-color: #d8b215;
}

.warning{
	background-color: #de7700;
}

.not-done{
	background-color: #AE3941;
}

.other-tags{
	background-color: #5C5E6C;
}

.taginputcomponent{
	display: flex;
	flex-direction: row;
	border: 1px solid #CCCDD1;
	height: 30px;
	padding-left: 5px;
	border-radius: 5px;
	width: 395px;
	position: relative;
}

.taginputcontainer{
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #373737;
	margin-right: 5px;
}

.taginputx{
	height: 20px;
	padding: 0px 5px;
	background-color: #CBE1F8;
	border-radius: 5px 0px 0px 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}

.taginputx:hover{
	box-shadow: 0px 0px 3px #888888;
	background-color: #B0D1F4;
}

.taginputx:active{
	box-shadow: inset 0px 1px 2px #373737;
	background-color: #CBE1F8;
}

.taginput{
	height: 20px;
	padding: 0px 5px;
	background-color: #CBE1F8;
	align-self: center;
	font-size: 13px;
	border-radius: 0px 5px 5px 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.taginput p{
	margin-bottom: 0px;
	font-size: 12px;
}

.taginput i{
	font-size: 16px;
}

.taginputicon{
	font-size: 16px !important;
	color: #0074B8;
	position: absolute;
	right: 10px;
	top: 7px;
}

.circle{
	width: 15px;
	height: 15px;
	background-color: #417505;
	border-radius: 50px;
	margin-right: 5px;
}

.pagination{
	color: #373737;
	margin: 5px 15px;
	font-size: 13px;
	cursor: pointer;
}

.selected{
	background-color: #0074B8;
	padding: 5px 10px;
	color: #ffffff;
	border-radius: 5px;
}

.message{
	border-radius: 5px;
	height: 32px;
	width: 600px;
	font-size: 14px;
	color: #373737;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.message i{
	margin: 0px 15px;
	font-size: 20px;
}

.information{
	background-color: #E9F4FB;
}

.information i{
	color: #0074B8;
}

.success{
	background-color: #E0EDCC;
}

.success i{
	color: #009632;
}

.warning-m{
	background-color: #F8E5CC;
}

.warning-m i{
	color: #DD7D00;
}

.error{
	background-color: #F5D6CC;
}

.error i{
	color: #CC3300;
}

.card-container{
	background-color: #ffffff;
	border: 1px solid #CCCDD1;
	border-radius: 5px;
	width: 970px;
	height: 140px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.card-border{
	background-color: #E9F4FB;
	width: 30px;
}

.card-content{
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 20px 25px;
}

.card-content span{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
	margin-bottom: 40px;
}

.card-content span p{
	color: #75A7C8;
	font-size: 13px;
	margin-right: 10px;
}

.card-content h2{
	font-size: 19px;
	margin-bottom: 10px;
}

.card-actions{
	width: 180px;
	border-left: 1px solid #CCCDD1;
	display: flex;
	flex-direction: column;
	padding: 15px 10px;
}

.card-button{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	background-color: #ffffff;
	border: 1px solid #CCCDD1;
	border-radius: 50px;
	width: 120px;
	height: 20px;
	position: absolute;
	top: 130px;
	left: 814px;
}

.card-button p{
	margin-right: 5px;
	color: #0074B8;
	font-size: 11px;
}

.modal-container{
	width: 1008px;
	height: 750px;
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 0px 1px 2px #373737;
	display: flex;
  flex-direction: column;
}

.header-modal{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-grow: 1;
}

.header-modal h2{
	font-size: 20px;
	margin-left: 12px;
	margin-top: 12px;
}

.header-modal i{
	margin-right: 12px;
	margin-top: 12px;
}

.footer-modal{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	border-top: 1px solid #D7DFE1;
	padding: 12px;
}

.modal-container-small{
	width: 512px;
	height: 300px;
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 0px 1px 2px #373737;
	display: flex;
  flex-direction: column;
}

.header-modal-small{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-grow: 1;
}

.header-modal-small h2{
	font-size: 20px;
	margin-left: 12px;
	margin-top: 12px;
}

.header-modal-small i{
	margin-right: 12px;
	margin-top: 12px;
}

.footer-modal-small{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	border-top: 1px solid #D7DFE1;
	padding: 12px;
}

.modal-container-medium{
	width: 744px;
	height: 500px;
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 0px 1px 2px #373737;
	display: flex;
  flex-direction: column;
}

.header-modal-medium{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-grow: 1;
}

.header-modal-medium h2{
	font-size: 20px;
	margin-left: 12px;
	margin-top: 12px;
}

.header-modal-medium i{
	margin-right: 12px;
	margin-top: 12px;
}

.footer-modal-medium{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	border-top: 1px solid #D7DFE1;
	padding: 12px;
}

.form h2{
	font-size: 20px;
	line-height: 26px;
	color: #0074B8;
	border-bottom: 2px solid #0074B8;
	padding-bottom: 5px;
	width: 450px;
}

.form h3{
	font-size: 16px;
	line-height: 21px;
	color: #373737;
}

/** typography **/

.h1{
	color: #373737;
	font-size: 26px;
	line-height: 32px;
	font-weight: 700;
}
.h2{
	color: #373737;
	font-size: 19px;
	line-height: 28px;
	font-weight: 700;
}
.h3{
	color: #373737;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
}
.h4{
	color: #373737;
	font-size: 13px;
	line-height: 19px;
	font-weight: 700;
}
.btext{
	color: #373737;
	font-size: 13px;
	line-height: 19px;
	font-weight: 300;
}
.text-small{
	color: #373737;
	font-size: 12px;
	line-height: 18px;
	font-weight: 300;
}
.text-small2{
	color: #373737;
	font-size: 11px;
	line-height: 16px;
	font-weight: 300;
}
.tab{
	display: inline-block;
	margin-left: 90px;
}


@media screen and (max-width: 740px) {

	body { font-size: 0.9em; }


	.width { width:auto; padding-left: 10px; padding-right: 10px; }

	.column-left, .column-right { margin:0px; }

	header h1, header h2, nav#mainnav li a { text-align:center; }

	section#content, aside#sidebar { position: relative; float: none; width: auto; margin-left: 0; }


}


@media screen and (max-width: 540px) {

	body { font-size: 0.8em; }

	header, header h1 a, header h1 a:hover { text-align: center; padding: 10px 0 0 0; font-size: 1.1em; }


	nav#mainnav ul li a { margin-top: 0; padding: 1em; }


}
